.calendar-container {
  display: flex;
  height: 100vh; /*ensures the container takes the full height of the viewport*/
  width: 100vw; /* Full width */
}

.calendar-main {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
  background-color: #fdfaf6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 250px; /* Adjust for sidebar width */
  width: calc(100% - 250px); /* Full width minus sidebar */
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(0, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  width: 50%; /* Set a fixed width */
  max-width: 600px; /* Set a maximum width */
  margin: auto; /* Center the modal content */
}

.all-day-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: -280px;
}

.all-day-checkbox label {
  justify-content: space-between;
  align-items: left;
}

.modal-content label,
.modal-content input,
.modal-content textarea {
  margin-bottom: 10px;
}

.modal-content .close {
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
}

button {
  background-color: #3788d8;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.hover-popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  max-width: 3000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px; /* Rounded corners */
  color: #333; /* Text color */
  font-family: Arial, sans-serif; /* Font style */
  transition: opacity 0.2s ease-in-out; /* Transition effect */
}

.hover-popup h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.hover-popup p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.hover-popup .date-time {
  font-size: 12px;
  color: #777;
}

.fc {
  flex-grow: 1; /* Ensure FullCalendar component takes full height */
  width: 100%;
}

.fc .fc-toolbar {
  margin-bottom: 20px;
}

.fc .fc-view {
  height: calc(100% - 40px); /* Adjust for toolbar height */
}
