.timetable-container {
  display: flex; /* Defines the container as a flexbox */
  height: 100vh; /* Ensures the container takes the full height of the viewport */
  width: 80vw; /* Sets the width to 80% of the viewport width */
  margin-left: 250px
}

.timetable-main {
  display: flex; /* Defines the container as a flexbox */
  flex-grow: 1; /* Allows the container to grow and take available space */
  overflow: auto; /* Adds scrollbars if content overflows */
  padding: 20px; /* Adds 20px padding inside the container */
  background-color: #f5f5f5; /* Sets the background color */
  flex-direction: column; /* Arranges child elements in a column */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-buttons button {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.link-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.timetable-wrapper {
  overflow-x: auto; /* Add horizontal scrolling */
  overflow-y: auto; /* Add vertical scrolling */
  max-height: 600px; /* Adjust the height as per your design */
  position: relative; /* Ensure relative positioning */
}

.timetable {
  display: flex;
  position: relative; /* Ensure relative positioning */
}

.time-column {
  width: 60px;
  text-align: center;
  background-color: #f9f9f9;
  z-index: 1;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  top: 0; /* Add this line to make the time column sticky at the top */
}

.time {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}

.daily-column {
  flex-grow: 1;
  border-left: 1px solid #ccc;
  position: relative;
}

.daily-header {
  text-align: center;
  padding: 10px 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 2; /* Ensure it appears above the timings */
}

.time-slot {
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

footer {
  margin-top: 20px;
  text-align: center;
}
